<div id="menu">
    <ul>
        <li><a href="/index">Homepage</a></li>
        <li><a href="/districts">Park By Districts</a></li>
        <li><a href="/about">About</a></li>
    </ul>
</div>

<%= form_with url: "/search", method: :get do |form| %>
    <%= form.text_field :query, placeholder: "Search parks..." %>
<%= form.submit "Search" %>
<% end %>

<h1>Search Results</h1>

<% if @parks.any? %>
  <ul class="park_name_list">
    <% @parks.each do |park| %>
      <li>
        <%= link_to park.park_name, "/show/#{park.park_id}" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No parks found.</p>
<% end %>